<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑标签</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form class="layui-form layuimini-form">
    <input type="hidden" name="id"/>
    <div class="layui-form-item">
        <label class="layui-form-label required">标签名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="标签名称不能为空" placeholder="请输入标签名称" value=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">颜色</label>
        <div class="layui-input-block">
            <div>
                <div id="color-select" lay-verify="colorVer"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="/static/admin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"
        th:src="@{/static/admin/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script src="/static/admin/xm-select/xm-select.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
<script th:inline="javascript" type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //渲染标签信息
        var tag = [[${tag}]];
        $('.layui-form input[name="id"]').val(tag.id);
        $('.layui-form input[name="name"]').val(tag.name);
        form.render('radio');
        //渲染多选下拉框
        var colorSelect = xmSelect.render({
            el: '#color-select',
            language: 'zn',
            //开启搜索
            filterable: true,
            radio: true,
            clickClose: true,
            model: {
                label: {
                    type: 'text',
                    text: {
                        template: function (item, sels) {
                            return '<span>' + item.name + '</span>';
                        },
                    },
                }
            },
            template({name, value}) {
                return name + '<span style="position: absolute; right: 10px; background-color: ' + value + '">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
            },
            data: [
                {name: '#D5F5E3', value: '#D5F5E3'},
                {name: '#E8F8F5', value: '#E8F8F5'},
                {name: '#82E0AA', value: '#82E0AA'},
            ],
            create: function (val, arr) {
                if (arr.length === 0) {
                    return {
                        name: '创建' + val,
                        value: val,
                    }
                }
            },
        });
        //获取所有颜色
        $.ajax({
            url: '/admin/tag/colors',
            method: 'GET',
            success: function (result) {
                let data = result.data.map(item => {
                    return {
                        name: item,
                        value: item
                    }
                });
                colorSelect.update({
                    data: data,
                });
                let color = {name: tag.color, value: tag.color};
                let arr = [color];
                colorSelect.setValue(arr);
            }
        });
        //表单验证
        form.verify({
            colorVer: function () {
                if (colorSelect.getValue('value').length <= 0) {
                    return '请选择颜色';
                }
                let value = colorSelect.getValue('value')[0];
                if (value[0] !== '#') {
                    return '颜色由#开头';
                }
                let pattern = /^#([0-9a-fA-F]{6})$/;
                if (!pattern.test(value)) {
                    return '颜色由#开头的6位16进制字符组成';
                }
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data.field.color = colorSelect.getValue('value')[0];
            axios({
                method: 'put',
                url: '/admin/tag',
                data: data.field,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
            }).then((response) => {
                Swal.fire({
                    icon: 'success',
                    title: '保存成功',
                    showConfirmButton: false,
                    timer: 1500,
                    onClose: () => {
                        var parentLayer = parent.layer;
                        var iframeIndex = parentLayer.getFrameIndex(window.name);
                        parent.location.reload();
                        parentLayer.close(iframeIndex);
                    }
                });
            }).catch((error) => {
                Swal.fire({
                    icon: 'error',
                    title: '保存失败！',
                    text: `${error.response.data.message}`,
                });
            })
            return false;
        });
    });
</script>
</body>
</html>