<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="web/fragments :: head(~{::title})"/>
    <title>GeekBlog - 个人博客</title>
    <style>
        .carousel-control {
            width: 45px;
            height: 45px;
            line-height: 55px;
            border-radius: 45px;
            background: transparent;
            cursor: pointer;
            z-index: 100;
        }

        #prev-cover {
            position: absolute;
            top: 48%;
            left: 8px;
        }

        #next-cover {
            position: absolute;
            top: 48%;
            right: 8px;;
        }

        #prev-cover i {
            margin-right: 3px;
        }

        #next-cover i {
            margin-left: 3px;
        }

        .carousel-control:hover {
            background-color: rgba(0, 0, 0, .4);
        }

        .carousel-control i {
            color: #fff;
            font-size: 2.4rem;
        }
    </style>
    <!--打字机效果-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script>
        $(function () {
            var typed = new Typed("#subtitle", {
                strings: ['挑战无处不在，自己才是真正的敌人。', 'Challenges are everywhere, and you are the real enemy.'],
                startDelay: 300,
                typeSpeed: 100,
                loop: true,
                backSpeed: 50,
                showCursor: true
            });
        });
    </script>
</head>

<body>
<!--navbar-->
<header th:replace="web/fragments :: header"></header>
<!--end navbar-->

<div id="app">
    <!--carousel-->
    <div class="carousel carousel-slider center index-cover" data-indicators="true" style="margin-top: -64px;"
         id="carousel">
        <div class="left waves-effect carousel-control" id="prev-cover">
            <i class="icon fa fa-angle-left"></i>
        </div>
        <div class="right waves-effect carousel-control" id="next-cover">
            <i class="icon fa fa-angle-right"></i>
        </div>
        <!--carousel-item-first-->
        <div class="carousel-item white-text bg-cover about-cover">
            <div class="container">
                <div class="row">
                    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                        <div class="brand">
                            <!--标题-->
                            <div class="title center-align">GeekBlog</div>
                            <!--副标题-->
                            <div class="description center-align">
                                <span id="subtitle"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-btns">
                    <a class="waves-effect waves-light btn" onclick="$.scrollTo('#indexCard',500); ">
                        <i class="fa fa-angle-double-down"></i>开始阅读
                    </a>
                </div>
                <div class="cover-social-link">
                    <a class="tooltipped" data-delay="50" data-position="top" data-tooltip="访问我的GitHub"
                       href="https://github.com/AlanLiang1998"
                       target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="tooltipped" data-delay="50" data-position="top" data-tooltip="邮件联系我"
                       href="mailto:1114173646@qq.com" target="_blank">
                        <i class="fas fa-envelope-open"></i>
                    </a>
                    <a class="tooltipped" data-delay="50" data-position="top" data-tooltip="QQ联系我: 1114173646"
                       href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=1114173646" target="_blank">
                        <i class="fab fa-qq"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--end carousel-item-first-->
        <div v-for="(article, index) in topArticles" :key="article.id">
            <div class="carousel-item  white-text carousel-post bg-cover lazy"
                 :style="{backgroundImage: 'url(http://cdn.alanliang.site/loading.png)' }"
                 :data-bg="article.cover">
                <div class="container">
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <div class="title center-align">{{article.title}}</div>
                            <div class="description center-align">{{article.summary}}</div>
                            <div class="cover-btns">
                                <a class="waves-effect waves-light btn" :href="'/article/'+article.id" target="_blank">
                                    <i class="icon fa fa-eye fa-fw"></i>阅读更多
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end carousel-->

    <!--content-->
    <main class="content">
        <div class="index-card" id="indexCard">
            <div class="container">
                <div class="card">
                    <div class="card-content" data-aos="fade-up">
                        <!--名言-->
                        <div class="dream">
                            <div class="title center-align">
                                <i class="far fa-lightbulb"></i>&nbsp;&nbsp;钱钟书《围城》
                            </div>

                            <div class="row">
                                <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text">
                                    满天的星又密又忙，它们声息全无，而看来只觉得天上热闹。一梳月亮像形容未长成的女孩子，但见人己不羞缩，光明和轮廓都清新露，渐渐可烘衬夜景。小园草地里的小虫琐琐屑屑地在夜谈。不知那里的蛙群齐心协力地干号，像声浪给火煮得发沸。几星萤火优游来去，不像飞行，像在厚密的空气里漂浮；月光不到的阴黑处，一点萤火忽明，像夏夜的一只微绿的小眼睛。
                                </div>
                            </div>
                        </div>
                        <!--推荐文章-->
                        <div class="recommend" id="recommend-sections" data-aos="fade-up">
                            <div class="title"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;推荐文章</div>
                            <div class="row">
                                <div v-for="(article, index) in recommendArticles" :key="article.id">
                                    <div class="col s12 m6" data-aos="zoom-in-up">
                                        <div class="post-card lazy"
                                             :style="{backgroundImage: 'url(http://cdn.alanliang.site/loading.png)' }"
                                             :data-bg="article.cover">
                                            <div class="post-body">
                                                <!--分类-->
                                                <div class="post-categories">
                                                    <a class="category"
                                                       :href="'/api/categories?id='+article.category.id">{{article.category.name}}</a>
                                                </div>
                                                <!--标题-->
                                                <a :href="'/article/'+article.id">
                                                    <h3 class="post-title">{{article.title}}</h3>
                                                </a>
                                                <!--描述-->
                                                <p class="post-description">{{article.summary}}</p>
                                                <!--阅读更多-->
                                                <a class="read-more btn waves-effect waves-light"
                                                   :href="'/article/'+article.id"
                                                   style="background: linear-gradient(to right, #FF5E3A 0%, #FF2A68 100%)"
                                                   target="_blank">
                                                    <i class="icon far fa-eye fa-fw"></i>阅读更多
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 所有文章卡片 -->
        <article class="container articles" v-show="articles.length !== 0" id="articleCards">
            <div class="row article-row">
                <div v-for="(article, index) in articles" :key="article.id">
                    <div class="article col s12 m6 l4" data-aos="zoom-in">
                        <div class="card articleCard">
                            <!--卡片上部-->
                            <a :href="'/article/'+article.id" target="_blank">
                                <div class="card-image">
                                    <!--文章图片-->
                                    <img class="responsive-img lazy" src="http://cdn.alanliang.site/loading.png"
                                         :data-src="article.cover">
                                    <!--文章标题-->
                                    <span class="card-title">{{article.title}}</span>
                                </div>
                            </a>
                            <!--卡片下部-->
                            <div class="card-content article-content">
                                <!--文章描述-->
                                <div class="summary block-with-text">{{article.summary}}</div>
                                <!--文章信息-->
                                <div class="publish-info">
                                    <!--发布日期-->
                                    <span class="publish-date">
                                        <i class="far fa-clock fa-fw icon-date"></i>{{article.createTime | dateFormat}}
                                    </span>
                                    <!--文章分类-->
                                    <span class="publish-author">
                                        <i class="fas fa-bookmark fa-fw icon-category"></i>
                                        <a class="post-category" :href="'/api/categories?id='+article.category.id">{{article.category.name}}</a>
                                    </span>
                                </div>
                            </div>
                            <!--文章标签-->
                            <div class="card-action article-tags">
                                <a :href="'/api/tags?id='+tag.id" v-for="(tag, index) in article.tagList">
                                    <span class="chip bg-color">{{tag.name}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <!--end content-->

    <!--pagination-->
    <div class="container paging">
        <div class="row">
            <!--左边按钮-->
            <div class="col s4 m4 l4">
                <a class="left btn-floating btn-large waves-effect waves-light" @click="toPage(current-1)"
                   href="#articleCards"
                   :class="{disabled: current == 1}">
                    <i class="fas fa-angle-left"></i>
                </a>
            </div>
            <!--分页信息-->
            <div class="page-info col s4 m4 l4">
                <div class="center-align b-text-gray">{{current}} / {{pages}}</div>
            </div>
            <!--右边按钮-->
            <div class="col s4 m4 l4">
                <a class="right btn-floating btn-large waves-effect waves-light" @click="toPage(current+1)"
                   href="#articleCards" :class="{disabled: current == pages}">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!--end pagination-->
</div>

<!--footer-->
<footer th:replace="web/fragments :: footer"></footer>
<!--end footer-->

<!--commons-->
<div th:replace="web/fragments :: commons"></div>
<!--end commons-->

<!--vue-->
<script type="text/javascript">
    const vm = new Vue({
        el: '#app',
        data: {
            topArticles: [],
            recommendArticles: [],
            articles: [],
            current: 1,
            pages: 1,
        },
        methods: {
            getHomeArticles: function () {
                axios({
                    url: '/home',
                    method: 'GET'
                }).then((result) => {
                    let homeArticles = result.data;
                    this.topArticles = homeArticles.topArticles;
                    this.recommendArticles = homeArticles.recommendArticles;
                    let pageInfo = homeArticles.pageInfo;
                    this.articles = pageInfo.records;
                    this.current = pageInfo.current;
                    this.pages = pageInfo.pages;
                    this.$nextTick(function () {
                        this.initCarousel();
                        lazyLoadInstance.update();
                    });
                })
            },
            getArticles: function (current) {
                axios({
                    url: '/articles?current=' + current,
                    method: 'GET',

                }).then((result) => {
                    this.articles = result.data.records;
                    this.current = result.data.current;
                    this.pages = result.data.pages;
                    this.$nextTick(function () {
                        lazyLoadInstance.update();
                    });
                })
            },
            toPage: function (page) {
                if (page >= 1 && page <= this.pages) {
                    this.current = page;
                    this.getArticles(page);
                    $(window).scrollTo('#articleCards', 1000);
                }
            },
            initCarousel: function () {
                // TODO 此处的轮播尚需优化，PC/Mobile 在触摸切换时都感觉相当不灵活
                $(function () {
                    let coverSlider = $('.carousel');
                    //用户触摸轮播自动 restartPlay 是否生效
                    let initUserPressedOrDraggedActive = false

                    //用户触摸轮播自动 restartPlay
                    function initUserPressedOrDragged(instance) {
                        setInterval(() => {
                            if (instance.pressed || instance.dragged) {
                                // console.log('initUserPressedOrDragged: ',instance.pressed,instance.dragged)
                                restartPlay()
                            }
                        }, 1000)
                    }

                    coverSlider.carousel({
                        duration: Number('120'),
                        fullWidth: true,
                        indicators: 'true' === 'true',
                        onCycleTo() {
                            if (!initUserPressedOrDraggedActive) {
                                // console.log('initUserPressedOrDraggedActive')
                                initUserPressedOrDragged(this)
                                initUserPressedOrDraggedActive = true
                            }
                        },
                    })

                    let carouselIntervalId;

                    // Loop to call the next cover article picture.
                    let autoCarousel = function () {
                        carouselIntervalId = setInterval(function () {
                            coverSlider.carousel('next');
                        }, 10000);
                    };
                    autoCarousel();


                    function restartPlay() {
                        clearInterval(carouselIntervalId);
                        autoCarousel();
                    };

                    // prev and next cover post.
                    $('#prev-cover').click(function () {
                        coverSlider.carousel('prev');
                        restartPlay();
                    });
                    $('#next-cover').click(function () {
                        coverSlider.carousel('next');
                        restartPlay();
                    });
                });
            }
        },
        created() {
            this.getHomeArticles();
        },
        filters: {
            dateFormat: function (value) {
                return moment(value).format("YYYY-MM-DD");
            }
        },
    });
</script>
<div th:replace="web/fragments :: scripts"></div>
</body>
</html>
