<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>本地存储</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all"
          th:href="@{/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/css/public.css" media="all"
          th:href="@{/static/admin/layuimini/css/public.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset" permission="sys:localstorage:query">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">文件名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input"
                                       placeholder="不输入则忽略文件名筛选">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">日期范围</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="date-range" placeholder="不输入则忽略日期范围筛选"
                                       name="dateRange">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon"></i>清 空
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add" permission="sys:localstorage:add">
                    上传文件
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"
                        permission="sys:localstorage:delete">批量删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit" permission="sys:localstorage:edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"
               permission="sys:localstorage:delete">删除</a>
        </script>

    </div>
</div>
<script src="/static/admin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"
        th:src="@{/static/admin/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script src="/static/admin/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/admin/my/js/my.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#date-range',
            range: '~',
            theme: 'molv'
        });

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
        })

        table.render({
            elem: '#currentTableId',
            url: '/admin/localStorage',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {
                        field: 'name', width: 250, title: '文件名', templet: function (data) {
                            let name = data.name;
                            let url = '/file/' + data.type + '/' + data.realName;
                            return '<a href=' + url + ' style="color: #1890FF;" target="_blank">' + name + '</a>'
                        }
                    },
                    {
                        field: 'realName', width: 150, title: '预览图', align: 'center', templet: function (data) {
                            let type = data.type;
                            let realName = data.realName;
                            if (type === '图片') {
                                let src = "/file/" + type + "/" + realName;
                                return '<a onclick="show_img(this)" ><img class="layui-nav-img" src="' + src + '"></img></a>';
                            } else {
                                return '<div class="layui-nav-img"><i class="fa fa-file"></i></div>';
                            }

                        }
                    },
                    {field: 'suffix', width: 120, title: '文件类型', sort: true},
                    {field: 'type', width: 120, title: '类别', sort: true},
                    {field: 'size', width: 120, title: '大小', sort: true},
                    {
                        width: 350, title: 'url', templet: function (data) {
                            let url = '/file/' + data.type + '/' + data.realName;
                            return '<a class="clip-btn layui-btn-primary" data-clipboard-text="' + url + '"><i class="layui-icon layui-icon-link" alt="复制至剪切板"></i></a>&nbsp&nbsp;<span>' + url + '</span>';
                        }
                    },
                    {field: 'createTime', title: '创建时间', minWidth: 200, sort: true},
                    {field: 'updateTime', title: '更新时间', minWidth: 200, sort: true},
                    {
                        title: '操作',
                        minWidth: 150,
                        width: 200,
                        toolbar: '#currentTableBar',
                        align: "center",
                        fixed: "right",
                        hide: (!hasPermission('sys:localstorage:edit') && !hasPermission('sys:localstorage:delete'))
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function () {
                checkPermission();
                var clipboard = new ClipboardJS('.clip-btn');
                clipboard.on('success', function (e) {
                    Toast.fire({
                        icon: 'success',
                        title: '链接已复制至剪切板！'
                    })
                    e.clearSelection();
                });
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let name = data.field.name;
            let dateRange = data.field.dateRange;
            let dates = dateRange.split(' ~ ')
            let startDate = dates[0];
            let endDate = dates[1];

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    name: name,
                    startDate: startDate,
                    endDate: endDate,
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var idList = [];
                $.each(data, function () {
                    idList.push($(this)[0].id);
                });
                if (idList.length <= 0) {
                    return false;
                }
                Swal.fire({
                    title: '确定删除选中的' + idList.length + '个文件吗？',
                    text: "你将不能撤销该操作!",
                    icon: 'warning',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/admin/localStorage',
                            type: 'DELETE',
                            data: JSON.stringify(idList),
                            contentType: 'application/json',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Deleted!',
                                        '删除成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        });
                    }
                });
            } else if (obj.event === 'add') {
                var index = layer.open({
                    title: '添加文件',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '90%'],
                    content: '/admin/api/localstorage/localstorage-add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                Swal.fire({
                    title: '确定删除这个文件吗？',
                    text: "你将不能撤销该操作!",
                    icon: 'warning',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/admin/localStorage/' + data.id,
                            type: 'DELETE',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Deleted!',
                                        '删除成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        });
                    }
                });
            } else if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑文件',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '30%'],
                    content: '/admin/localStorage/' + data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

    });

    //显示大图片
    function show_img(t) {
        var t = $(t).find("img");
        //页面层
        layer.open({
            type: 1,
            title: '图片',
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '80%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
        });
    }
</script>
</body>
</html>