<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>公告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all"
          th:href="@{/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/css/public.css" media="all"
          th:href="@{/static/admin/layuimini/css/public.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset" permission="sys:notice:query">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="title" autocomplete="off" class="layui-input"
                                       placeholder="不输入则忽略标题筛选">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">内容</label>
                            <div class="layui-input-inline">
                                <input type="text" name="content" autocomplete="off" class="layui-input"
                                       placeholder="不输入则忽略内容筛选">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">日期范围</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="date-range" placeholder="不输入则忽略日期范围筛选"
                                       name="dateRange">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否显示</label>
                            <div class="layui-input-inline">
                                <select name="display">
                                    <option value="" selected>所有</option>
                                    <option value="true">是</option>
                                    <option value="false">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add" permission="sys:notice:add">添加公告
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"
                        permission="sys:notice:delete">批量删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit" permission="sys:notice:edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"
               permission="sys:notice:delete">删除</a>
        </script>

    </div>
</div>
<script src="/static/admin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"
        th:src="@{/static/admin/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script src="/static/admin/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/admin/my/js/my.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#date-range',
            range: '~',
            theme: 'molv'
        });

        table.render({
            elem: '#currentTableId',
            url: '/admin/notice',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'title', width: 150, title: '标题'},
                    {field: 'content', width: 250, title: '内容'},
                    {
                        field: 'sort', width: 100, title: '排序', align: 'center', sort: true, templet: function (data) {
                            let sort = data.sort;
                            return '<span class="layui-badge layui-bg-green">' + sort + '</span>';
                        }
                    },
                    {
                        field: 'display',
                        width: 150,
                        title: '是否前台显示',
                        sort: true,
                        align: 'center',
                        templet: function (data) {
                            let text = data.display ? '是' : '否';
                            let color = data.display ? 'green' : 'orange';
                            let bgColor = 'layui-bg-' + color;
                            return '<span class="layui-badge ' + bgColor + '">' + text + '</span>';
                        }
                    },
                    {field: 'createTime', title: '创建时间', minWidth: 200, sort: true},
                    {field: 'updateTime', title: '更新时间', minWidth: 200, sort: true},
                    {
                        title: '操作',
                        minWidth: 150,
                        width: 200,
                        toolbar: '#currentTableBar',
                        fixed: "right",
                        align: "center",
                        hide: (!hasPermission('sys:notice:audit') && !hasPermission('sys:notice:edit') && !hasPermission('sys:notice:delete'))
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function () {
                checkPermission();
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let title = data.field.title;
            let content = data.field.content;
            let dateRange = data.field.dateRange;
            let dates = dateRange.split(' ~ ')
            let startDate = dates[0];
            let endDate = dates[1];
            let display = data.field.display;

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    title: title,
                    content: content,
                    startDate: startDate,
                    endDate: endDate,
                    display: display,
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var idList = [];
                $.each(data, function () {
                    idList.push($(this)[0].id);
                });
                if (idList.length <= 0) {
                    return false;
                }
                Swal.fire({
                    title: '确定删除选中的' + idList.length + '条公告吗？',
                    text: "你将不能撤销该操作!",
                    icon: 'warning',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/admin/notice',
                            type: 'DELETE',
                            data: JSON.stringify(idList),
                            contentType: 'application/json',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Deleted!',
                                        '删除成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        });
                    }
                });
            } else if (obj.event === 'add') {
                var index = layer.open({
                    title: '添加公告',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '60%'],
                    content: '/admin/api/notice/notice-add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                Swal.fire({
                    title: '确定删除这条公告吗？',
                    text: "你将不能撤销该操作!",
                    icon: 'warning',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/admin/notice/' + data.id,
                            type: 'DELETE',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Deleted!',
                                        '删除成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        });
                    }
                });
            } else if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑公告',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '80%'],
                    content: '/admin/notice/' + data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
        });
    });
</script>
</body>
</html>