<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>GeekBlog-文章管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layuimini/lib/layui-v2.5.5/css/layui.css" media="all"
          th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../static/layuimini/css/public.css" media="all" th:href="@{/layuimini/css/public.css}">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">文章标题</label>
                            <div class="layui-input-inline">
                                <input type="text" name="keyword" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 批量删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="../static/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"
        th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script src="../static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"
        th:src="@{/layuimini/js/lay-config.js(v=1.0.4)}"></script>
<script src="../static/layuimini/js/lay-module/layuimini/miniTab.js"
        th:src="@{/layuimini/js/lay-module/layuimini/miniTab.js}"></script>
<script>
    layui.use(['layer', 'form', 'table', 'miniTab'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniTab = layui.miniTab;
        table.render({
            elem: '#currentTableId',
            url: '/admin/article',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 50, title: 'ID', sort: true},
                    {field: 'title', width: 220, title: '标题'},
                    {
                        field: 'type', width: 80, title: '类型', sort: true, templet: function (data) {
                            return data.type == 1 ? '原创' : (data.type == 2 ? '转载' : '翻译')
                        }
                    },
                    {
                        field: 'category', width: 100, title: '分类', sort: true, templet: function (data) {
                            return data.category.name;
                        }
                    },
                    {
                        field: 'tagList', width: 220, title: '标签', templet: function (data) {
                            var tagNameList = [];
                            $.each(data.tagList, function () {
                                tagNameList.push($(this)[0].name);
                            })
                            if (tagNameList.length > 0) {
                                return tagNameList.toString();
                            } else {
                                return '无';
                            }
                        }
                    },
                    {field: 'views', width: 80, title: '浏览量', sort: true},
                    {field: 'likes', width: 80, title: '点赞数', sort: true},
                    {field: 'comments', width: 80, title: '评论数', sort: true,},
                    {
                        field: 'published', width: 80, title: '状态', sort: true, templet: function (data) {
                            return data.published ? '发布' : '草稿';
                        }
                    },
                    {field: 'createTime', width: 150, title: '创建时间', sort: true},
                    {field: 'updateTime', width: 150, title: '更新时间', sort: true},
                    {title: '操作', minWidth: 120, toolbar: '#currentTableBar', fixed: "right", align: "center"}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var keyword = data.field.keyword;
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    keyword: keyword
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var idList = [];
                $.each(data, function () {
                    idList.push($(this)[0].id);
                });
                if (idList.length <= 0) {
                    return false;
                }
                layer.confirm('确定删除选中的' + idList.length + '篇文章吗？', {icon: 3}, function (index) {
                    $.ajax({
                        url: '/admin/article',
                        type: 'DELETE',
                        data: JSON.stringify(idList),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.code == 200) {
                                table.reload('currentTableId');
                                layer.close(index);
                                layer.msg('删除成功', {icon: 1});
                            }
                        }
                    });
                })

            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                miniTab.openNewTabByIframe({
                    href: "/api/article/" + data.id,
                    title: "文章编辑",
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除这篇文章吗？', {icon: 3}, function (index) {
                    $.ajax({
                        url: '/admin/article/' + data.id,
                        type: 'DELETE',
                        success: function (result) {
                            if (result.code == 200) {
                                obj.del();
                                layer.close(index);
                                layer.msg('删除成功', {icon: 1});
                            }
                        }
                    });
                });
            }
        });

    });
</script>

</body>
</html>