<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../static/admin/layuimini/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<form class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">分类名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="分类名称不能为空" placeholder="请输入分类名称" value=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">分类简介</label>
        <div class="layui-input-block">
            <textarea name="introduction" lay-verify="required" lay-reqtext="分类简介不能为空" class="layui-textarea"
                      placeholder="请输入分类简介"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否前台显示</label>
        <div class="layui-input-block">
            <input type="radio" name="display" value="true" title="是" checked="">
            <input type="radio" name="display" value="false" title="否">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../../../static/admin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/admin/category',
                type: 'POST',
                data: JSON.stringify(data.field),
                contentType: 'application/json',
                success: function (result) {
                    if (result.code == 200) {
                        var parentLayer = parent.layer;
                        layer.msg('保存成功', {icon: 1, time: 1000}, function () {
                            var iframeIndex = parentLayer.getFrameIndex(window.name);
                            parent.location.reload();
                            parentLayer.close(iframeIndex);
                        });
                    }
                },
                error: function (XMLHttpRequest) {
                    var result = JSON.parse(XMLHttpRequest.responseText);
                    layer.alert(result.msg, {icon: 5});
                }
            });

            return false;
        });
    });
</script>
</body>
</html>