<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>评论管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all"
          th:href="@{/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/css/public.css" media="all"
          th:href="@{/static/admin/layuimini/css/public.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset" permission="blog:comment:query">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">日期范围</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="date-range" placeholder="不输入则忽略日期范围筛选"
                                       name="dateRange">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <option value="" selected>所有</option>
                                    <option value="2">审核通过</option>
                                    <option value="1">等待审核</option>
                                    <option value="0">审核未过</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"
                        permission="blog:comment:delete">批量删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="audit" permission="blog:comment:audit">审核</a>
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="add" permission="blog:comment:reply">回复</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"
               permission="blog:comment:delete">删除</a>
        </script>

    </div>
</div>
<script src="/static/admin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"
        th:src="@{/static/admin/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script src="/static/admin/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/admin/my/js/my.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#date-range',
            range: '~',
            theme: 'molv'
        });

        table.render({
            elem: '#currentTableId',
            url: '/admin/comment',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {
                        field: 'visitor.nickname', width: 150, title: '昵称', templet: function (data) {
                            return data.visitor.nickname;
                        }
                    },
                    {
                        field: 'articleId', width: 150, title: '文章链接', templet: function (data) {
                            let href = '/article/' + data.articleId;
                            return '<a href=' + href + ' style="color: #01AAED;" target="_blank">' + href + '</a>'
                        }
                    },
                    {
                        field: 'pid', width: 100, title: '类型', align: 'center', templet: function (data) {
                            let color, text, pid = data.pid;
                            if (pid === 0) {
                                color = 'green';
                                text = '评论';
                            } else {
                                color = 'blue';
                                text = '回复';
                            }
                            let bgColor = 'layui-bg-' + color;
                            return '<span class="layui-badge ' + bgColor + '">' + text + '</span>';
                        }
                    },
                    {field: 'content', width: 200, title: '内容'},
                    {
                        field: 'status', width: 100, title: '状态', align: 'center', templet: function (data) {
                            let color, text, status = data.status;
                            if (status === 2) {
                                text = '审核通过';
                                color = 'green';
                            } else if (status === 1) {
                                text = '等待审核';
                                color = 'blue';
                            } else if (status === 0) {
                                text = '审核未过';
                                color = 'red';
                            }
                            let bgColor = 'layui-bg-' + color;
                            return '<span class="layui-badge ' + bgColor + '">' + text + '</span>';
                        }
                    },
                    {field: 'createTime', title: '评论时间', minWidth: 200, sort: true},
                    {field: 'address', width: 150, title: 'IP来源'},
                    {field: 'requestIp', width: 150, title: 'IP地址'},
                    {
                        title: '操作',
                        minWidth: 150,
                        width: 200,
                        toolbar: '#currentTableBar',
                        fixed: "right",
                        align: "center",
                        hide: (!hasPermission('blog:comment:audit') && !hasPermission('blog:comment:reply') && !hasPermission('blog:comment:delete'))
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function () {
                checkPermission();
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let dateRange = data.field.dateRange;
            let dates = dateRange.split(' ~ ')
            let startDate = dates[0];
            let endDate = dates[1];
            let status = data.field.status;
            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    startDate: startDate,
                    endDate: endDate,
                    status: status
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var idList = [];
                $.each(data, function () {
                    idList.push($(this)[0].id);
                });
                if (idList.length <= 0) {
                    return false;
                }
                Swal.fire({
                    title: '确定删除选中的' + idList.length + '条评论吗？',
                    text: "你将不能撤销该操作!",
                    icon: 'warning',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/admin/comment',
                            type: 'DELETE',
                            data: JSON.stringify(idList),
                            contentType: 'application/json',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Deleted!',
                                        '删除成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        });
                    }
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                Swal.fire({
                    title: '确定删除这条评论吗？',
                    text: "你将不能撤销该操作!",
                    icon: 'warning',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonText: '删除',
                    cancelButtonText: '取消',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: '/admin/comment/' + data.id,
                            type: 'DELETE',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Deleted!',
                                        '删除成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        });
                    }
                });
            } else if (obj.event === 'add') {
                var index = layer.open({
                    title: '回复评论',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '50%'],
                    content: '/admin/comment/add?pid=' + data.id + '&articleId=' + data.articleId,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'audit') {
                async function audit() {
                    const inputOptions = new Promise((resolve) => {
                        resolve({
                            '0': '审核未过',
                            '2': '审核通过',
                        });
                    })
                    const {value: status} = await Swal.fire({
                        title: '审核结果',
                        input: 'radio',
                        inputOptions: inputOptions,
                        inputValidator: (value) => {
                            if (!value) {
                                return '请选择审核结果！'
                            }
                        }
                    })
                    if (status) {
                        $.ajax({
                            url: '/admin/comment/audit',
                            type: 'POST',
                            data: JSON.stringify({id: data.id, status: status}),
                            contentType: 'application/json',
                            success: function (result) {
                                if (result.code === 200) {
                                    table.reload('currentTableId');
                                    Swal.fire(
                                        'Audited!',
                                        '审核成功',
                                        'success'
                                    );
                                }
                            },
                            error: function (result) {
                                let error = JSON.parse(result.responseText);
                                Swal.fire(
                                    'Error!',
                                    error.msg,
                                    'error'
                                );
                            }
                        })
                    }
                }

                audit();
            }
        });
    });
</script>
</body>
</html>