<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css" media="all"
          th:href="@{/static/admin/layuimini/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="/static/admin/layuimini/css/public.css" media="all"
          th:href="@{/static/admin/layuimini/css/public.css}">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset" permission="sys:role:query">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="roleName" autocomplete="off" class="layui-input"
                                       placeholder="不输入则忽略角色名筛选">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">描述</label>
                            <div class="layui-input-inline">
                                <input type="text" name="description" autocomplete="off" class="layui-input"
                                       placeholder="不输入则忽略描述筛选">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">日期范围</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="date-range" placeholder="不输入则忽略日期范围筛选"
                                       name="dateRange">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary"><i class="layui-icon"></i>清 空
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add" permission="sys:role:add">添加角色
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"
                        permission="sys:role:delete">批量删除
                </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="edit" permission="sys:role:edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete"
               permission="sys:role:delete">删除</a>
        </script>

    </div>
</div>
<script src="/static/admin/layuimini/lib/layui-v2.5.5/layui.js" charset="utf-8"
        th:src="@{/static/admin/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script src="/static/admin/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="/static/admin/my/js/my.js"></script>
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#date-range',
            range: '~',
            theme: 'molv'
        });

        table.render({
            elem: '#currentTableId',
            url: '/admin/role',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: "checkbox", width: 50, fixed: "left"},
                    {field: 'id', width: 80, title: 'ID', sort: true},
                    {field: 'roleName', width: 150, title: '角色名', sort: true},
                    {field: 'description', width: 150, title: '描述'},
                    {
                        field: 'rank', width: 100, title: '级别', sort: true, align: 'center', templet: function (data) {
                            let rank = data.rank;
                            return '<span class="layui-badge layui-bg-green">' + rank + '</span>';
                        }
                    },
                    {
                        field: 'color', width: 100, title: '颜色', align: 'center', templet: function (data) {
                            let color = 'layui-bg-' + data.color;
                            return '<span class="layui-badge ' + color + '">&nbsp;&nbsp;</span>';
                        }
                    },
                    {field: 'createTime', title: '创建时间', minWidth: 200, sort: true},
                    {field: 'updateTime', title: '更新时间', minWidth: 200, sort: true},
                    {
                        title: '操作',
                        minWidth: 150,
                        toolbar: '#currentTableBar',
                        fixed: "right",
                        align: "center",
                        hide: (!hasPermission('sys:role:edit') && !hasPermission('sys:role:delete'))
                    }
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function () {
                checkPermission();
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            let roleName = data.field.roleName;
            let description = data.field.description;
            let dateRange = data.field.dateRange;
            let dates = dateRange.split(' ~ ')
            let startDate = dates[0];
            let endDate = dates[1];

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    roleName: roleName,
                    description: description,
                    startDate: startDate,
                    endDate: endDate
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加角色',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '90%'],
                    content: '/admin/api/role/role-add',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var idList = [];
                $.each(data, function () {
                    idList.push($(this)[0].id);
                });
                if (idList.length <= 0) {
                    return false;
                }
                layer.confirm('确定删除选中的' + idList.length + '个角色吗？', {icon: 3}, function (index) {
                    $.ajax({
                        url: '/admin/role',
                        type: 'DELETE',
                        data: JSON.stringify(idList),
                        contentType: 'application/json',
                        success: function (result) {
                            if (result.code === 200) {
                                table.reload('currentTableId');
                                layer.close(index);
                                layer.msg('删除成功', {icon: 1});
                            }
                        },
                        error: function (result) {
                            let error = JSON.parse(result.responseText);
                            layer.alert(error.msg, {icon: 2});
                        }
                    });
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑角色',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['50%', '90%'],
                    content: '/admin/role/' + data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除这个角色吗？', {icon: 3}, function (index) {
                    $.ajax({
                        url: '/admin/role/' + data.id,
                        type: 'DELETE',
                        success: function (result) {
                            if (result.code === 200) {
                                obj.del();
                                layer.close(index);
                                layer.msg('删除成功', {icon: 1});
                            }
                        },
                        error: function (result) {
                            let error = JSON.parse(result.responseText);
                            layer.alert(error.msg, {icon: 2});
                        }
                    });
                });
            }
        });

    });
</script>
</body>
</html>