<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.alanliang.geekblog.dao.AccessLogMapper">
    <select id="countByLast7Days" resultType="site.alanliang.geekblog.vo.ViewDateVO">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') date,
               count(*) viewCount
        FROM (SELECT *
              FROM sys_access_log
              WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(create_time)) as sal
        GROUP BY date;
    </select>
</mapper>