<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.alanliang.geekblog.mapper.ArticleMapper">
    <resultMap id="baseResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="comments" column="comments"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="published" column="published"/>
        <result property="commentable" column="commentable"/>
        <result property="appreciable" column="appreciable"/>
        <result property="top" column="top"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="adminListResultMap" extends="baseResultMap" type="site.alanliang.geekblog.domain.Article">
        <association property="category" column="category_id"
                     select="site.alanliang.geekblog.mapper.CategoryMapper.selectCategoryById"/>
        <collection property="tagList" column="id" select="site.alanliang.geekblog.mapper.TagMapper.selectByArticleId"/>
    </resultMap>

    <resultMap id="recommendResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <association property="category" column="category_id"
                     select="site.alanliang.geekblog.mapper.CategoryMapper.selectCategoryById"/>
    </resultMap>

    <resultMap id="previewResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="cover" column="cover"/>
        <result property="createTime" column="create_time"/>
        <association property="category" javaType="site.alanliang.geekblog.domain.Category">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
        <collection property="tagList" column="id" select="site.alanliang.geekblog.mapper.TagMapper.selectByArticleId"/>
    </resultMap>

    <resultMap id="detailResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="cover" column="cover"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="comments" column="comments"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="commentable" column="commentable"/>
        <result property="appreciable" column="appreciable"/>
        <result property="createTime" column="create_time"/>
        <association property="author" javaType="site.alanliang.geekblog.domain.SysUser">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
        <association property="category" javaType="site.alanliang.geekblog.domain.Category">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
        <collection property="tagList" column="id" select="site.alanliang.geekblog.mapper.TagMapper.selectByArticleId"/>
    </resultMap>

    <sql id="adminListColumn">
        id, title, type, comments, views, likes, published, commentable, appreciable, top, recommend, create_time, update_time,
        category_id
    </sql>

    <sql id="recommendColumn">
        id, title, summary, cover, category_id
    </sql>

    <sql id="previewColumn">
        ta.id, ta.title, ta.summary, ta.create_time, ta.cover, tc.id, tc.name
    </sql>

    <select id="listArticlesTableByPage" resultMap="adminListResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="adminListColumn"/>
        from t_article
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="listRecommendArticles" resultMap="recommendResultMap">
        select
        <include refid="recommendColumn"/>
        from t_article
        where recommend = 1
        and published = 1
    </select>

    <select id="listArticlesPreviewByPage" resultMap="previewResultMap">
        select
        <include refid="previewColumn"/>
        from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="selectArticleById" resultMap="detailResultMap">
        select ta.id, ta.title, ta.content, ta.cover, ta.create_time, ta.type, ta.likes, ta.views, ta.comments, ta.commentable, ta.appreciable, tc.id, tc.name, su.id, su.username from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        left join sys_user su
        on ta.author_id = su.id
        where ta.id = #{id}
    </select>

    <select id="selectPrevArticlePreview" resultMap="previewResultMap">
        select
        <include refid="previewColumn"/>
        from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        where ta.id = (select max(id) from t_article where id &lt; #{id})
    </select>

    <select id="selectNextArticlePreview" resultMap="previewResultMap">
        select
        <include refid="previewColumn"/>
        from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        where ta.id = (select min(id) from t_article where id &gt; #{id})
    </select>
    <select id="listPageArticlePreviewByCategoryId" resultMap="previewResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="previewColumn"/>
        from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        where tc.id = #{categoryId}
    </select>

    <select id="listPageArticlePreviewByTagId" resultMap="previewResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="previewColumn"/>
        from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        left join t_article_tag tat
        on ta.id = tat.article_id
        where tat.tag_id = #{tagId}
    </select>

    <select id="countArticleByDate" resultType="site.alanliang.geekblog.vo.ArticleDateVO">
        select year(create_time) 'year', month(create_time) 'month', day(create_time) 'day', count(id) 'articleCount'
        from t_article group by  year(create_time) ,month(create_time), day(create_time)
    </select>

    <select id="listPageArticlePreviewByDate" resultMap="previewResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="previewColumn"/>
        from t_article ta
        left join t_category tc
        on ta.category_id = tc.id
        order by ta.create_time desc
    </select>
</mapper>
