<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.alanliang.geekblog.mapper.ArticleMapper">
    <resultMap id="baseResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="comments" column="comments"/>
        <result property="views" column="views"/>
        <result property="likes" column="likes"/>
        <result property="published" column="published"/>
        <result property="commentable" column="commentable"/>
        <result property="appreciable" column="appreciable"/>
        <result property="top" column="top"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="adminListResultMap" extends="baseResultMap" type="site.alanliang.geekblog.domain.Article">
        <association property="category" column="category_id"
                     select="site.alanliang.geekblog.mapper.CategoryMapper.selectCategoryById"/>
        <collection property="tagList" column="id" select="site.alanliang.geekblog.mapper.TagMapper.selectByArticleId"/>
    </resultMap>

    <resultMap id="recommendArticlesResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <association property="category" column="category_id"
                     select="site.alanliang.geekblog.mapper.CategoryMapper.selectCategoryById"/>
    </resultMap>

    <resultMap id="webListResultMap" type="site.alanliang.geekblog.domain.Article">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createTime" column="create_time"/>
        <association property="category" column="category_id" select="site.alanliang.geekblog.mapper.CategoryMapper.selectCategoryById"/>
        <collection property="tagList" column="id" select="site.alanliang.geekblog.mapper.TagMapper.selectByArticleId"/>
    </resultMap>

    <sql id="adminListColumn">
        id, title, type, comments, views, likes, published, commentable, appreciable, top, recommend, create_time, update_time,
        category_id
    </sql>

    <sql id="recommendColumn">
        id, title, summary, cover, category_id
    </sql>

    <sql id="webListColumn">
        id, title, summary, create_time, cover, category_id
    </sql>

    <select id="selectPageForAdmin" resultMap="adminListResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select
        <include refid="adminListColumn"/>
        from t_article
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="listRecommendArticles" resultMap="recommendArticlesResultMap">
        select
        <include refid="recommendColumn"/>
        from t_article
        where recommend = 1
        and published = 1
    </select>

    <select id="listArticlesByPage" resultMap="webListResultMap">
        select
        <include refid="webListColumn"/>
        from t_article
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>

</mapper>
