<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.alanliang.geekblog.dao.CommentMapper">
    <resultMap id="displayResultMap" type="site.alanliang.geekblog.model.Comment">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="address" column="address"/>
        <result property="parentNickname" column="parent_nickname"/>
        <result property="status" column="status"/>
        <association property="visitor" column="{visitorId=visitor_id,userId=user_id}"
                     select="site.alanliang.geekblog.dao.VisitorMapper.selectByVisitorId"/>
    </resultMap>

    <resultMap id="tableResultMap" type="site.alanliang.geekblog.model.Comment">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="articleId" column="article_id"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="browser" column="browser"/>
        <result property="os" column="os"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <association property="visitor" column="{visitorId=visitor_id,userId=user_id}"
                     select="site.alanliang.geekblog.dao.VisitorMapper.selectByVisitorId"/>
    </resultMap>

    <select id="listRootPageByArticleId" resultMap="displayResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select id,
               pid,
               user_id,
               visitor_id,
               content,
               parent_nickname,
               create_time,
               browser,
               os,
               address
        from t_comment tc
        where article_id = #{articleId}
          and pid = ${@site.alanliang.geekblog.common.Constant@COMMENT_LINKED_LIST_ROOT}
          and tc.status &lt;&gt; ${@site.alanliang.geekblog.common.Constant@COMMENT_NOT_PASS}
        order by create_time DESC
    </select>

    <select id="listByArticleId" resultMap="displayResultMap"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select id,
               pid,
               user_id,
               visitor_id,
               content,
               parent_nickname,
               create_time,
               browser,
               os,
               address
        from t_comment tc
        where article_id = #{articleId}
          and tc.status &lt;&gt; ${@site.alanliang.geekblog.common.Constant@COMMENT_NOT_PASS}
        order by create_time DESC
    </select>
    <select id="listTableByPage" resultMap="tableResultMap">
        select id,
        pid,
        user_id,
        article_id,
        visitor_id,
        content,
        create_time,
        browser,
        os,
        address,
        request_ip,
        status
        from t_comment
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        order by create_time DESC
    </select>
</mapper>
