<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.alanliang.geekblog.dao.TagMapper">
    <resultMap id="baseResultMap" type="site.alanliang.geekblog.entity.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectByArticleId" resultType="site.alanliang.geekblog.entity.Tag">
        select tt.id, tt.name, tt.color
        from t_tag tt
                 left join t_article_tag tat
                           on tt.id = tat.tag_id
        where tat.article_id = #{articleId}
    </select>

    <select id="listByArticleCount" resultType="site.alanliang.geekblog.entity.Tag">
        select tt.id, tt.name, tt.color, count(ta.id) articleCount
        from t_tag tt
                 left join t_article_tag tat
                           on tt.id = tat.tag_id
                 left join t_article ta
                           on ta.id = tat.article_id
        group by tt.id
    </select>

    <select id="listTableByPage" resultType="site.alanliang.geekblog.entity.Tag"
            parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page">
        select tt.id, tt.name, tt.color, tt.create_time, tt.update_time, count(ta.id) articleCount
        from t_tag tt
        left join t_article_tag tat
        on tt.id = tat.tag_id
        left join t_article ta
        on ta.id = tat.article_id
        <if test="ew != null and ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
        group by tt.id
    </select>
</mapper>
